@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #0b0f27, #161b45, #2a1c68, #4c1d8b);
    background-size: 100% 100%;
}

@keyframes stars {
    from { background-position: 0 0; }
    to   { background-position: -3000px 1500px; }
}

#stars {
    position: absolute;
    width: 200%;
    height: 200%;
    background: url("https://www.transparenttextures.com/patterns/stardust.png");
    opacity: 0.25;
    animation: stars 60s linear infinite;
    pointer-events: none;
}

.title {
    position: absolute;
    top: 18%;
    font-size: 58px;
    font-weight: 600;
    color: #e8d8ff;
    text-shadow: 0 0 15px #b88aff, 0 0 40px #9151ff;
    opacity: 0;
    animation: fadeDown 1.7s ease forwards;
}

@keyframes fadeDown {
    to { opacity: 1; transform: translateY(20px); }
}

.card {
    position: absolute;
    top: 42%;
    width: 350px;
    padding: 30px;
    border-radius: 18px;
    backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 0 25px rgba(180, 110, 255, 0.35);
    opacity: 0;
    animation: fadeUp 1.8s ease forwards;
}

@keyframes fadeUp {
    to { opacity: 1; transform: translateY(-10px); }
}

.card h2 {
    text-align: center;
    color: #e8d8ff;
    margin-bottom: 20px;
    font-weight: 600;
}

.card input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background: rgba(255,255,255,0.12);
    color: #fff;
}

.card input::placeholder {
    color: #d8c4ff;
}

.card button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #a86bff, #7d4bff);
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

.card button:hover {
    background: linear-gradient(135deg, #c18aff, #9b67ff);
    box-shadow: 0 0 20px rgba(180, 130, 255, 0.9);
}

.switch-text {
    text-align: center;
    margin-top: 13px;
    color: #e6d7ff;
}

#switch {
    color: #cda5ff;
    cursor: pointer;
    font-weight: bold;
}
#logoutBtn {
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #f4e8ff;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(155, 89, 255, 0.45);
    transition: 0.25s ease;
}

#logoutBtn:hover {
    background: linear-gradient(135deg, #9f5eff, #7a37e6);
    box-shadow: 0 0 16px rgba(180, 110, 255, 0.85);
}
